@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Careers</h2>
<h3>Software Engineer .Net</h3>

<ul>
    <li>C# Application Development Proficient</li>
    <li>Must Have Expirience of Continous Development 2 Years</li>
</ul>